*
!Dockerfile
!VERSION
!package.json
!server.mjs
!src/
!src/**
!data/
!data/iana-private-enterprise-numbers.json
!data/mib-catalog.json
!data/mib-objects.json
!data/source-catalog.json
!data/publication-controls.json
!data/device-identities/
!data/device-identities/**
!data/mibs/
!data/mibs/redistributable/
!data/mibs/redistributable/**
!scripts/
!scripts/canonical-json.mjs
!prototype/
!prototype/**
!docs/
!docs/research/
!docs/research/demand/
!docs/research/demand/phase0-openapi.json
